.footer
  span ©️#{new Date().getFullYear()} TJKkking
    |  Powered By&nbsp;
  strong
    a(href='https://hexo.io') hexo.
    div Documentation licensed under&nbsp; 
      strong 
        a(href='http://creativecommons.org/licenses/by/4.0/') CC BY 4.0
